@{
    ViewBag.Title = "Float";
}

<link href="~/Content/css/float.css" rel="stylesheet" />

<article> &lt;My Article&gt;
    <section>&lt;Section One&gt;</section>
    <section>&lt;Section Two&gt;</section>
  </article>
  <aside>&lt;Aside&gt;</aside>
  <footer>&lt;Footer&gt;</footer>
