@{
    ViewBag.Title = "Index";
}

        <h2>Welcome to my home page</h2>
        <br />
        <h3>Final Project for IS445 using ASP.NET MVC4 for Professor Ying.  Codes are done with combination of C#, Javascripts, Razor View (CSHTML), & CSS.
        </h3>
        <br />
        <br />